* {
    margin: 0;
    padding: 0;
}

.px {
    background-color: red;
    width: 250px;
    text-align: center;
}

.VwVh {
    background: aqua;
    width: 100vw;
    height: 20vh;
    /* 1em = Default value / & Default font size 16 px */
    font-size: 1rem;
}