*{
    margin: 0;
    padding: 0;
}
.mainBox{
    border: 2px solid black;
    height: 600px;
    width: 600px;
    background: #e9e6e6;
}
.box{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    /* margin: 10px; */
    
}
.box1{
    background: aqua;
}
.box2{
    background: pink;
}
.box3{
    background: yellow;
}
.box4{
    background: #01ff38;
}
.box5{
    background: yellowgreen;
}